.profileBox{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: rgb(85, 85, 85);
}

.profileBox.show{
    display: block;
}

.profileBox.hide{
    display: none;
}

.listProfileBox{
    list-style: none;
    text-align: center;
    padding: 5px 5px;
    margin: 0;
}

.listProfileBox li{    
    padding: 4px;
    margin: 4px 0;
    cursor: pointer;    
}

.listProfileBox li a{    
    text-decoration: none;
    color: #fff;
    display: block;    
    width: 100%;

}

.listProfileBox li:hover{
    background-color: rgb(126, 126, 126);
}
